.NavLink{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navber{
    background-color: rgb(196, 190, 23);
}
.title2{
    font-size: 1.5em;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    text-shadow:
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
}
.fa-chalkboard-teacher{
    color: rgb(55, 54, 50);
}